*/target/**
target/**
*/.settings/**
.settings/**
*/.metadata/**
.metadata/**
*/.project
.project
*/.classpath
.classpath
*/target-eclipse/**
target-eclipse/**
*/logs/**
bin/
logs/
.externalToolBuilders/
maven-eclipse.xml
*.class
.springBeans
fitnesse/FitNesseRoot/files/testResults/*
fitnesse/error.log
*/.metadata/**

/ordermanager-component/src/main/webapp/META-INF/MANIFEST.MF
/ordermanager-component/hs_err_pid*

# IntelliJ IDEA project files
.idea
*.iml
*.ipr
*.iws

# mac
.DS_Store
